.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 2rem;
  min-height: 80vh;
  background-color: #d31f1fd2;
}

.Auth-form {
  background-color: #fff;
  padding: 2rem 2.5rem;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
  max-width: 400px;   /* NES.css sweet spot */
  min-height: 500px;

  .Auth-form-title {
    text-align: center;
    font-size: 1.8rem;
    color: #000000;
    margin-bottom: 1.5rem;
  }
  .input-field{
    margin-bottom:20px;
    
    .input{
    width: 320px;
    height: 68px;
    }
  }
  


  .form-group {
    color:#000000;
    font-size: 15px;
    /* margin: 20px; */
    /* font-size: 0.80rem; */
    /* label {
      font-weight: 600;
      margin-bottom: 0.5rem;
    } */

    input {
      width: 100%;
      padding: 0.75rem;
      margin-top: 0.3rem;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
  }

  .options {
    margin-top: 0rem;
    text-align: center;

    a {
      text-decoration: underline;
      font-size: 0.80rem;
    }
  }

  .btn-primary {
    width: 200px;
    height: 60px;
    margin: 20px;
  }
}
