.about-wrap{
  display: contents;
}

.education-container {
  max-width: 1000px;
  min-height: 568px;
  display: flex;
  align-items: center;     /* center vertically */
  justify-content: center; /* center horizontally */
  flex-wrap: wrap;         /* responsive on small screens */
  margin: 3rem auto;
  padding: 2rem;
}

.education-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: white; /* adjust if needed */
  margin: 2rem 0;
  text-align: center;
}

h2::before, h2::after {
   content: "";
    flex: 1 1;
    border-bottom: 5px solid #ffffff;
    width: 120px;
    margin-right: 10px;
    margin-left: 7px;
}

.education-text p, i, li{
  text-align: left;
  font-size: 1.1rem;
}

.diploma-title, .job-title {
  margin-left:40px;
  text-align: left;
  font-size: 1.15rem;
  }

.university-name, .company-name {
  margin-left:40px;
  text-align: left;
  font-size: 1rem;
  }


.experience-container {
  max-width: 1000px;
  min-height: 640px;
  display: flex;
  justify-content: center; /* center horizontally */
  flex-wrap: wrap;         /* responsive on small screens */
  margin: 3rem auto;
  padding: 2rem;
}